<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidconnect" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="K-Talk"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothChat"
            android:label="@string/title_activity_bluetooth_chat" >
        </activity>
        <activity
            android:name=".sendPhoto"
            android:label="@string/title_activity_send_photo" >
        </activity>
        <activity
            android:name=".sendAudio"
            android:label="@string/title_activity_send_audio" >
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/title_activity_device_list" >
        </activity>
    </application>

</manifest>
